[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggdaynight"]
	path = ggdaynight
	url = https://github.com/gabrielslpires/ggdaynight
